[submodule "sdks/php"]
	path = sdks/php
	url = https://github.com/bitrix24/b24phpsdk.git
	branch = main
[submodule "sdks/js"]
	path = sdks/js
	url = https://github.com/bitrix24/b24jssdk.git
	branch = main
[submodule "sdks/python"]
	path = sdks/python
	url = https://github.com/bitrix24/b24pysdk.git
	branch = main
[submodule "ui/components"]
	path = ui/components
	url = https://github.com/bitrix24/b24ui.git
	branch = main
[submodule "ui/style"]
	path = ui/style
	url = https://github.com/bitrix24/b24style.git
	branch = main
[submodule "ui/icons"]
	path = ui/icons
	url = https://github.com/bitrix24/b24icons.git
	branch = main
[submodule "docs/rest-api"]
	path = docs/rest-api
	url = https://github.com/bitrix24/b24restdocs.git
	branch = main
[submodule "examples/sdk-examples"]
	path = examples/sdk-examples
	url = https://github.com/bitrix24/b24sdk-examples.git
	branch = main
[submodule "examples/app-template-automation"]
	path = examples/app-template-automation
	url = https://github.com/bitrix24/app-template-automation-rules.git
	branch = main
[submodule "tools/crest"]
	path = tools/crest
	url = https://github.com/bitrix-tools/crest.git
	branch = master
